<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>task.io | Projects</title>
        <link rel="stylesheet" href="public/assets/projects.css">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="sidebar">
            <div class="logo-details">
              <i class='bx bx-menu sidebarBtn'></i>
              <span class="logo_name">Task.io</span>
            </div>
            <ul class="nav-links">
              <li>
                <a href="/" class="active">
                  <i class='bx bx-grid-alt' ></i>
                  <span class="links_name">Dashboard</span>
                </a>
              </li>
              <li>
                <a href="/groups">
                  <i class='bx bx-box' ></i>
                  <span class="links_name">Create a Group</span>
                </a>
              </li>
              <li>
                <a href="/tickets">
                  <i class='bx bx-task' ></i>
                  <span class="links_name">Tickets</span>
                </a>
              </li>
              <!-- <li>
                <a href="#">
                  <i class='bx bx-message' ></i>
                  <span class="links_name">Messages</span>
                </a>
              </li>-->
              <li class="log_out">
                  <i class='bx bx-log-out'></i>
                  <form action="/logout?_method=DELETE" method = "POST">
                      <span class="links_name"><button class ="links_name">Log out</button></span>
                  </form>
              </li>
            </ul>
          </div>
          <section class="home-section">
            <nav>
              <div class="sidebar-button">
                <i class='bx bx-notepad'></i>
                <span class="dashboard">Projects</span>
              </div>
              <div class="search-box">
                <input type="text" placeholder="Search...(CURRENTLY NOT FUNCTIONAL)">
                <i class='bx bx-search' ></i>
              </div>
              <div class="profile-details">
                <!--<img src="images/profile.jpg" alt="">-->
                <span class="admin_name">User Profile (CURRENTLY NOT FUNCTIONAL)</span>
                <i class='bx bx-chevron-down' ></i>
              </div>
            </nav>
            <div class="home-content">
              <% if (message) { %>
                <div class="alert alert-info"><%= message %></div>
            <% } %>
                <span class="new_project">Create Group</span>
                <div class="new-boxes">
                    <button class="createBtn" onclick="showForm()">New<i class="bx bx-plus bx-sm"></i></button>
                </div>
                <div class="new-project-form" id="new-project-form">
                  <form id ="form" name= "form" action="/groups" method = "POST">
                    <div>
                      <input type="text" id="groupname" name="groupname"
                      placeholder = "Group Name" required>
                    </div> 
                    <div>
                      <input type="password" id="grouppassword" name="grouppassword"
                      placeholder = "Password">
                    </div>
                    <button>Create Group</button>
                    </form>               
                </div>
                <span class="new_project">Join Group</span>
                <div class="new-boxes">
                  <button class="createBtn" onclick="showForm1()">New<i class="bx bx-plus bx-sm"></i></button>
              </div>
                <div class="new-project-form1" id="new-project-form1">
                  <div class ="joinGroup">
                    <form class="join-Group-form" action="/joinGroup" method = "POST">
                        <div>
                          <input type="text" id="groupName1" name="groupName1"
                          placeholder = "Group Name" required>
                        </div> 
                        <div>
                          <input type="password" id="groupPassword1" name="groupPassword1"
                          placeholder = "Password" required>
                        </div>
                        <button>Join Group</button>
                        </form>
                </div>
                </div>
              <span class="all_projects">Your Projects</span>
              <div class="overview-boxes">
                <div class="box">
                  <div class="right-side">
                    <% if(group == 0){%>
                      <p>You are not in a group.</p>
                      <% } else { %>
                        <%
                        if(groupInfo.length!=0){
                        var i=1;
                        groupInfo.forEach(function(groupData){
                        %>
                        <p> You are in group <%=groupData.groupName %></p>
                      <% })}} %>
                      <%
                      if(groupMembers.length!=0){
                      var i=1;%>
                      <table>
                      <tr>
                        <th>Group Members:</th>
                      </tr>
                      <%
                      groupMembers.forEach(function(groupmembers){
                      %>
                      <tr>
                      <td><%=groupmembers.username %></td>
                      </tr>
                    </table>
                    <% i++ })} %>
                </div>
              </div>
            </div>
          </section>
          <script>
              function showForm(){
                  document.getElementById("new-project-form").style.display = 'block';
              }
              function showForm1(){
                  document.getElementById("new-project-form1").style.display = 'block';
              }
              function hideForm(){
                  document.getElementById("new-project-form").style.display = 'none';
              }
          </script>
    </body>
</html>